html
	+i18n('Home', '首页', 'zh_cn')
	+i18n('Albums', '相册', 'zh_cn')
	+i18n('Categories', '分类', 'zh_cn')
	+i18n('Archive', '归档', 'zh_cn')
	+i18n('Tags', '标签', 'zh_cn')
	+i18n('About', '关于', 'zh_cn')
	+i18n('Links', '友链', 'zh_cn')
	+i18n('RSS', '订阅', 'zh_cn')
	head
		meta(name="keywords", content=site.configs.keywords.escaped)
		meta(name="description", content=site.raw_content.escaped)
		block title
			title= request.args.s or post.title or tags.join('+') or category.title or site.title
		link(rel='stylesheet', href='/template/css/blog.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
			
	body
		div.blog-masthead
			div.container
				nav.blog-nav
					a.blog-nav-item.active(href='/')= _('Home')
					if has('categories')
						a.blog-nav-item(href='/archive?use=categories')= _('Categories')
					if has('posts')
						a.blog-nav-item(href='/archive')= _('Archive')
					if site.tags
						a.blog-nav-item(href='/archive?use=tags')= _('Tags')
					if has('images')
						a.blog-nav-item(href='/album')= _('Albums')
						if not has('posts')
							+redirect('/album')
					pages = get_data(status='pages', type='post', limit=5, with_page=False, sort='position')
					for page_p in pages
						a.blog-nav-item(href="/{{page_p.path}}")= _(page_p.filename.split('.')[0].title())
					a.blog-nav-item(href="/feed")= _('RSS')

		div.container
			div.row
				div.col-sm-8.blog-main
					block blog_main
				div.col-sm-3.col-sm-offset-1.blog-sidebar
					block blog_sidebar
		footer.blog-footer hahah

